<div id="modal-box">
    <a href="#" id="modal-close" title="Закрыть окно"></a>
    <h1>Обратная связь</h1>
    <div class="main-column">
        <form type="post" id="feedback">
            <div class="form-field">
                <label for="message">Ваш вопрос, пожелание или предложение</label>
                <textarea name="message" id="message" class="field border-grey"></textarea>
            </div>
            <div class="form-field">
                <label for="email">Электронная почта для ответа</label>
                <input type="text" name="email" id="email" class="field border-grey">
            </div>
            <div class="form-field">
                <input type="submit" name="send" id="send" value="Отправить">
            </div>
        </form>
    </div>
    <div class="sidebar">
        <h2 class="margin-top-small-negative">Нас часто спрашивают</h2>
        <ul class="simple-list">
            <li><a href="/help#3">Как работает платная отправка?</a></li>
            <li><a href="/help#4">Какие страны и операторов вы поддерживаете?</a></li>
            <li><a href="/help#5">Как правильно ввести номер?</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

<div id="overlay"></div>