<div id="twitter-container">
    <div class="content">
        <div class="clearfix"></div>
        <div id="twitter-logo"></div>
        <p id="twitter-tweet"></p>
        <p id="twitter-follow">Следите за всеми обновлениями на нашем <a href="http://twitter.com/smsgome">твиттере</a></p>
        <div class="clearfix"></div>
    </div>
</div>

<footer class="content">
    <span id="copyright">© SmsGo.me, 2012</span>
    <nav>
        <ul>
            <li><a href="/">Отправить SMS</a></li>
            <li><a href="/about">О сервисе</a></li>
            <li><a href="/help">Помощь</a></li>
            <li><a href="/advertisement">Реклама</a></li>
            <li><a href="/terms">Правила</a></li>
            <li><a href="/feedback" class="dotted show-feedback">Обратная связь</a></li>
        </ul>
    </nav>
    <a href="http://m.smsgo.me/" id="mobile-version"><span id="icon-mobile"></span>Мобильная версия</a>
    <div class="clearfix"></div>
</footer>