<!--
        <div id="topline-banner"></div>
-->
<header>
    <div class="content">
        <div class="main-column">
            <a href="/" id="logo" title="На главную страницу"></a>
            <div>
                <h1>SmsGo.me — отправляй SMS без забот!</h1>
                <p>Хотите отправить SMS-сообщение бесплатно? Или разыграть друга, подменив номер отправителя? Мы поможем вам в этом!<p>
            </div>
        </div>
        <div class="sidebar">
            <div id="social">
                <p>Нравиться сервис? Поддержи нас!</p>
                <!-- AddThis Button BEGIN -->
                <a href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbx32nj-1.0&amp;url=http%3A%2F%2F123.ru&amp;pubid=xa-4ff976cb4a5b51b7" target="_blank" ><img src="http://cache.addthiscdn.com/icons/v1/thumbs/32x32/facebook.png" border="0" alt="Facebook" /></a>
                <a href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbx32nj-1.0&amp;url=http%3A%2F%2F123.ru&amp;pubid=xa-4ff976cb4a5b51b7" target="_blank" ><img src="http://cache.addthiscdn.com/icons/v1/thumbs/32x32/twitter.png" border="0" alt="Twitter" /></a>
                <a href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbx32nj-1.0&amp;url=http%3A%2F%2F123.ru&amp;pubid=xa-4ff976cb4a5b51b7" target="_blank" ><img src="http://cache.addthiscdn.com/icons/v1/thumbs/32x32/facebook.png" border="0" alt="Facebook" /></a>
                <a href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbx32nj-1.0&amp;url=http%3A%2F%2F123.ru&amp;pubid=xa-4ff976cb4a5b51b7" target="_blank" ><img src="http://cache.addthiscdn.com/icons/v1/thumbs/32x32/twitter.png" border="0" alt="Twitter" /></a>
                <a href="http://www.addthis.com/bookmark.php?source=tbx32nj-1.0&amp;=250&amp;pubid=xa-4ff976cb4a5b51b7&amp;url=http%3A%2F%2F123.ru " target="_blank"  ><img src="http://cache.addthiscdn.com/icons/v1/thumbs/32x32/more.png" border="0" alt="More..." /></a>
                <!-- AddThis Button END -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</header>