{% extends "templ/base.html" %}

{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="Хотите отправить SMS-сообщение бесплатно? Или разыграть друга, подменив номер отправителя? Мы поможем вам в этом!">
{% endblock %}

{% block title %}
    <title>Отправляй SMS без забот!</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block navbar%}
    {% include "templ/-header.html" %}
    <div class="content">
        <h1>Правила</h1>
        <div class="main-column">
            <h2>Публичная оферта в соответствии со ст. 437 Гражданского кодекса РФ</h2>
            <p>Текст может состоять из алфавитно-цифровых символов. Максимальный размер сообщения в стандарте GSM — 140 байт (1120 бит). Таким образом, при использовании 7-битной кодировки (латинский алфавит и цифры) можно отправлять сообщения длиной до 160 символов. При использовании 8-битной кодировки (немецкий, французский язык) можно отправлять сообщения длиной до 140 символов.</p>
            <p>Для поддержки других национальных алфавитов (китайского, арабского, русского и др.) используется 2-байтовая (16-битная) кодировка UCS-2. Таким образом, SMS, написанное кириллицей, не может превышать 70 знаков. Существуют[3] и поддерживаются частью телефонов и восьмибитные кодировки кириллицы — так называемая локальная российская кодировка KOI8-R и Windows-1251.</p>
            <h2 class="margin-top">Обязанности Пользователя</h2>
            <p>Текст может состоять из алфавитно-цифровых символов. Максимальный размер сообщения в стандарте GSM — 140 байт (1120 бит). Таким образом, при использовании 7-битной кодировки (латинский алфавит и цифры) можно отправлять сообщения длиной до 160 символов. При использовании 8-битной кодировки (немецкий, французский язык) можно отправлять сообщения длиной до 140 символов.</p>
            <p>Для поддержки других национальных алфавитов (китайского, арабского, русского и др.) используется 2-байтовая (16-битная) кодировка UCS-2. Таким образом, SMS, написанное кириллицей, не может превышать 70 знаков. Существуют[3] и поддерживаются частью телефонов и восьмибитные кодировки кириллицы — так называемая локальная российская кодировка KOI8-R и Windows-1251.</p>
            <h2 class="margin-top">Предупреждение</h2>
            <p>Текст может состоять из алфавитно-цифровых символов. Максимальный размер сообщения в стандарте GSM — 140 байт (1120 бит). Таким образом, при использовании 7-битной кодировки (латинский алфавит и цифры) можно отправлять сообщения длиной до 160 символов. При использовании 8-битной кодировки (немецкий, французский язык) можно отправлять сообщения длиной до 140 символов.</p>
            <p>Для поддержки других национальных алфавитов (китайского, арабского, русского и др.) используется 2-байтовая (16-битная) кодировка UCS-2. Таким образом, SMS, написанное кириллицей, не может превышать 70 знаков. Существуют[3] и поддерживаются частью телефонов и восьмибитные кодировки кириллицы — так называемая локальная российская кодировка KOI8-R и Windows-1251.</p>
        </div>
        <div class="sidebar">
            {% include 'templ/-adv_sidebar.html' %}
        </div>
        <div class="clearfix"></div>
    </div>
    {% include 'templ/-footer.html' %}
    {% include 'templ/-feedback.html' %}
{% endblock %}

{% block footer %}
    <script src="/static/js/libs/jquery-1.7.2.min.js"></script>
    <script src="/static/js/libs/jquery.validate.min.js"></script>
    <script src="/static/js/functions.js"></script>
    <script>
        $(document).ready(function() {

            getLastTweet ('smsgome', $('#twitter-tweet'), 'Идет загрузка твитов…');

            var feedbackFormValidator = $('#feedback').validate({
                rules: {
                    message: {
                        required: true
                    },
                    email: {
                        required: true
                    }
                },
                messages: {
                    message: {
                        required: 'Напишите сообщение'
                    },
                    email: {
                        required: 'Введите электронную почту для ответа'
                    }
                },
                errorElement: 'span'
            });

            $('.show-feedback')
                    .bind('click', function() {
                        return initializeModalWindow ($('#modal-box'), $('#overlay'), $('#modal-close'), 150);
                    });
        });

        /*
         var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
         (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
         g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
         s.parentNode.insertBefore(g,s)}(document,'script'));
         */
    </script>
{% endblock %}